/* @override 
	http://127.0.0.1/~niko/status-board/index.css */

html{
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
}
.main{
	text-align: right;
}
#location{
	height: 64px;
	float: left;
	font-size: 2.4em;
	line-height: 1.25em;
	color: #7e7e7e;
	vertical-align: baseline;
}
#time{
	max-height: 64px;
	text-align: right;
	font-size: 3em;
	color: #eee;
}
#form{
	width: 540px;
	padding: 20px;
}